body {
background: #EEEEEE;
justify-content: center;
margin: 1em;
}

img {
  width:75%;
  border-radius: .5em;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: space-between;

}

h2{
  width:75%;
  border-radius: .5em;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: space-between;

}

select {
  display: flex;
  flex-direction: space-between;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-top: 20px;
  
}

input {
  display: flex;
  flex-direction: space-between;
  border-radius: 5px;
  padding: 4px;
  border: solid 1px grey;
  margin-top: 10px;
}

button {
  display: flex;
  flex-direction: space-between;
  border-radius: 5px;
  padding: 4px;
  border: solid 1px whitesmoke;
  margin-top: 10px;
  background-color: lightgray;
}

.retail {
  display: flex;
  flex-direction: space-between;
  border-radius: 5px;
  padding: 4px;
  margin-top: 10px;
}

form {
  background-color: white;
  width:75%;
  border-radius: .5em;
  margin: 1em;
  align-items: center;
  justify-content: center;
  filter:drop-shadow(2px 4px 5px grey)
}